// Define variables for your color scheme

// For example:
$red: #FF5757; // This would be the color for the buttons when focused
$black: #000000;
$lighter-black:rgba(0,0,0,0.8); // This would be the color for the text
$text-gray: #2C2928; // This would be also a color for text
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$background-gray: #F1EEE7; // This would be the color used as a backgroud for all pages and the background color for the buttons
$button-gray: #FFFDFD; // This would be the color of the buttons when not focused
$green-improve: #B9EDA9; // color used for the improvement button
$red-damage: #F49292; // color used for the red damage
