// Define variables for your color scheme

// For example:
$red: #FF5757; // This would be the color for the buttons when focused
$black: #000000;
$lighter-black:rgba(0,0,0,0.8); // This would be the color for the text
$text-gray: #2C2928; // This would be also a color for text
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$background-gray: #F1EEE7; // This would be the color used as a backgroud for all pages and the background color for the buttons
$button-gray: #FFFDFD; // This would be the color of the buttons when not focused
$green-improve: #B9EDA9; // color used for the improvement button
$red-damage: #F49292; // color used for the red damage


//Dark mode

$red-dark: #DB4D4D;
$black-dark: #E8E6E1;
$lighter-black-dark: rgba(255, 255, 255, 0.8);
$text-gray-dark: #CAC7C4;
$blue-dark: #375A7F;
$yellow-dark: #D1B055;
$orange-dark: #CF711F;
$green-dark: #16A085;
$background-gray-dark: #2C2F33;
$button-gray-dark: #3E4043;
$green-improve-dark: #97C89F;
$red-damage-dark: #E57373;
