// Specific CSS for your home-page
body {
  background-image: url("BackgroundHomepage.png");
  background-repeat: no-repeat;
  background-position: right 0px bottom 100%;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.button-div {
  position: absolute;
  text-align: center;
  bottom: -750px;
  left: 50%;
  transform: translateX(-50%);

  #button-homepage {
    text-decoration: none;
    padding: 16px 32px;
    color: $button-gray;
    background-color: $red;
    text-align: center;
    font-size: 30px;
    border-radius: 40px ;
  }

  #button-homepage.clicked {
    color: $white;
    background-color: rgba($color: #590e0e, $alpha: 0.6);
  }
}

.home-page-container-text {
  position: absolute;
  background: linear-gradient(to right, rgba(83, 127, 175, 0.5), rgba(151, 215, 109, 0.5), rgba(103, 198, 87, 0.5));  text-align: center;
  width:90%;
  bottom: -660px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  border-radius: 30px;
  // padding: 5px;

  h2{
    font-size: 25px;
  }

  p {
    font-size: 19px;
    margin-bottom: 5px;
  }
}
