<div class="logo-container">
  <div class="logo-row logo-justify-content-center">
    <div class="logo-col-auto logo-relative-container">
      <div class="logo-content-wrapper">
      <h1>UrbanEyes</h1>
      <p>Be the eyes of your city</p>
      <%= image_tag('binocular-transparent.png') %>
      </div>
    </div>
  </div>
</div>
