<div>
  <div class="logo-container">
    <div class="logo-row logo-justify-content-center">
      <div class="logo-col-auto logo-relative-container">
        <div class="logo-content-wrapper">
        <h1>UrbanEyes</h1>
        <p>Be the eyes of your city</p>
        <%= image_tag('binocular-transparent.png') %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-container">
  <div class="card-content">
    <div class="card-text">
      <h2>Hello Albert</h2>
      <p>How would you like to enhance your city's public spaces today?</p>
    </div>
    <div class="card-avatar">
      <img src="https://www.lafabriquedeladanse.fr/wp-content/uploads/2018/06/Jiri-1-1-600x800.jpg" alt="Avatar">
    </div>
  </div>
</div>
<div class="btn-container">
  <a href="" class="btn">My Proposals</a>
  <a href="" class="btn">Improvements</a>
  <a href="" class="btn">Damages</a>
</div>
