.ticket-btn{
  text-decoration:none;
  padding: 5px;
  color: var(--color-lighter-black);
  border: 1px solid black;
  border-radius: 4px;
}

// Propposition de amelioration au declaration de domage
.prop-btn {
  text-decoration:none;
  padding: 5px;
  color: var(--color-lighter-black);
  border-radius: 4px;
}

.ticket-btn:hover{
  background-color: $red;
  color: $white;
}

.btn-container {
  margin: 30px auto;
  max-width: 1000px;
  text-align:center;
  display: flex;
  justify-content: space-between;
  // margin: 20px -5px; /* Negative margin to offset the margins on the extremities */
  margin: 20px auto;
  padding: 0;

    // Media query for tablets (768px)
    @media (max-width: 768px) {
      max-width: 720px;
      padding: 0;
    }

    // Media query for smartphones (576px)
    @media (max-width: 576px) {
      max-width: 370px;
      padding: 0;
    }
}

.btn {
  color: var(--color-text-gray);
  background-color: var(--color-button-gray);
  padding: 10px 17px;
  border-radius: 20px;
  flex: 1; /* Each item occupies equal space */
  margin: 0; /* Adjust the margin as needed */
  max-width: 30%;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-red);
  }
    // Media query for tablets (768px)
    @media (max-width: 768px) {
      max-width: 30%;
    }

    // Media query for smartphones (576px)
    @media (max-width: 576px) {
      max-width: 30%;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;
    }

}

.floating-button {
  background-color: var(--color-green);
  color: var(--color-red);
  border-radius: 0px 20px 0px 0px;
  width: 90px;
  height: 60px;
  padding: 0;
  border: none;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1050;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.floating-button-list {
  background-color: var(--color-green);
  color: var(--color-red);
  border-radius: 20px 0px 0px 0px;
  width: 90px;
  height: 60px;
  padding: 0;
  border: none;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1050;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.icon {
  display: block;
  line-height: inherit;
  text-align: inherit;
}

.floatting-button-home {
  background-color: var(--color-green);
  color: var(--color-red);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: fixed;
  bottom: 140px;
  right: 10px;
  z-index: 1050;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.floatting-button-location {
  background-color: var(--color-green);
  color: var(--color-red);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: fixed;
  bottom: 75px;
  right: 10px;
  z-index: 1050;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.btn-input {
  // background-color: var(--color-green);
  color: var(--color-red);
  // border-radius: 50%;
  margin-top: 10%;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 24px;
  // font-weight: bold;
  // text-align: center;
  // line-height: 50px;
  cursor: pointer;
  // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
