.form-container {
  display: flex;
  color: $lighter-black;
  background-color: $button-gray;
  border-radius: 20px;

  @media (max-width: 576px) {
    max-width: 370px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    margin: 10px auto;
    margin: auto;


    .form-image-container {
      flex: 1;
      padding: 0 0 20px 20px; /* Adjust padding as needed */

      img {
        width: 90%;
        height: auto;
        display: block; /* Ensures the image fills the container */
      }
    }

    .form-text-container {
      flex: 1;
      padding-top: 15%; /* Adjust padding as needed */

      h2 {
        font-size: 20px;
        text-align: left;
        margin: 0;
      }

      h3 {
        font-size: 17px;
        text-align: center;
        margin: 0;
      }
    }

    .form {
      padding: 20px;
    }
  }

}
