.mapboxgl-popup {
  max-width: 1000px;
  background-color: var(--color-lighter-black);
  border-radius: 5px;

}

.mapboxgl-popup-content {
  background-color: var(--color-body) !important;
  text-align: center;
  font-family: $body-font;
  color: var(--color-lighter-black) !important;
  font-size: 14px;
  border: none !important;
}

.map {
  padding: 10px;
  #green {
    color: var(--color-green);
  }
  #red {
    color: var(--color-red);
  }
  a {
    text-decoration: none;
  }
}

.mapboxgl-popup-close-button{
  color: var(--color-lighter-black);
}

.mapboxgl-ctrl-geolocate {
  top: 100px
}
