.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent !important; /* Set navbar background to transparent */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 10%;
}

.dropdown-menu {
  background-color: var(--color-body);


  .dropdown-item {
    color: var(--color-lighter-black);
  }
}

.form-check-label {
  color: var(--color-lighter-black);
  line-height: 2.5rem;
}

.form-check-input {
  transform: scale(2);
}

.form-switch {
  padding:0 !important;
}

// Class used to put the symbols of the sun and the moon around the dark mode
// .material-symbols-outlined {
//   color: var(--color-black);
//   width: 1.5rem;
//   height: auto;
// }
